@import '../../../_shared.scss';

.nav-bar {
    width: 100%;
    position: fixed;
    background-color: $color-background-black-80;

    .main {
        display: flex;
        height: 60px;
        width: 100%;
        padding: 10px 0px;
        transition: all .5s;

        .logo {
            height: 100%;
            width: 100px;
        }

        .title {
            color: $color-font-main;
            width: 100%;
            align-items: center;
            position: relative;

            .text * {
                cursor: default;
            }
        }

        .button {
            width: 200px;
            display: flex;
            align-items: center;
            position: relative;

            app-home-nav-login-button {
                width: 90%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .nav {
        ul {
            width: 100%;
            border-top: 2px solid $color-font-main;
            list-style: none;
            display: inline-flex;
        
            li {
                display: flex;
                color: $color-font-main;
                padding: .2rem;
                margin: .2rem;
                transition: all .5s;
                cursor: pointer;
                border-bottom: 2px solid $nav-list-item-border;
            }

            li:hover {
                background-color: $nav-list-item-background-hover;
                padding-left: .4rem;
                padding-right: .4rem;
                font-size: 1.2rem;
                font-weight: bold;
                color: $nav-list-item-font-hover;
            }
        }
    }
}

